@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/src/index.scss';


html {
  font-size: 62.5%;
}

body {
  color: $text-color;
  @include media-breakpoint-up(xs) {
    font-size: $font-size-sp-medium;
  }
  @include media-breakpoint-up(sm) {
    font-size: $font-size-medium;
  }
  font-family: $font-family;
}